@import "../../styles/global"; // Ensure this path is correct

.lumina-button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  margin: 10px;
  font-weight: 600;
  background-color: transparent;
  transition: all 0.2s ease-in 0s;
  position: relative;
  overflow: hidden;
  background-position: center;
  transition: background 0.8s;
  font-size: 15px;
  background: #fff radial-gradient(circle, transparent 1%, $button-seconday 1%)
    center/15000%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &[alignicon="left"] {
    flex-direction: row-reverse;
  }
  &[alignicon="right"] {
    flex-direction: row;
  }
  &:active {
    background-size: 100%;
    transition: background 0s;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: $gray-light !important;
  }

  &[curve="rounded"] {
    border-radius: 6px !important;
  }
  &[curve="curved"] {
    border-radius: 42px !important;
  }
  &[curve="flat"] {
    border-radius: 0px !important;
  }
  &[type="primary"] {
    color: $white;
    background-color: $lumina-orange;
    position: relative;
    overflow: hidden;
    background-position: center;
    transition: background 0.8s;
    background: $lumina-orange
      radial-gradient(circle, transparent 1%, #b11116 1%) center/15000%;
    * {
      color: $white;
    }
    svg {
      path {
        stroke: $white;
      }
    }

    &:active {
      background-size: 100%;
      transition: background 0s;
    }
    &:disabled {
      cursor: not-allowed;
      background: $gray-light
        radial-gradient(circle, transparent 1%, $gray-light 1%) center/15000%;
    }
  }
  &[type="secondary"] {
    color: $lumina-orange;

    background-color: $button-seconday;
    position: relative;
    overflow: hidden;
    background-position: center;
    transition: background 0.8s;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    background: $button-seconday
      radial-gradient(circle, transparent 1%, #ed1c244d 1%) center/15000%;
    &:active {
      background-size: 100%;
      transition: background 0s;
    }
    &:disabled {
      cursor: not-allowed;
      background: $gray-light
        radial-gradient(circle, transparent 1%, $gray-light 1%) center/15000%;
    }
    * {
      color: $lumina-orange;
    }
  }
  &[type="text"] {
    color: $lumina-orange;
    font-weight: 600;
    * {
      color: $lumina-orange;
    }
  }
  &[buttonSize="S"],
  &[size="S"] {
    padding: 0.3rem 1rem;
    font-size: 13px;
  }
  &[buttonSize="M"],
  &[size="M"] {
    padding: 0.7rem 1.5rem;
    font-size: 15px;
  }
  &[buttonSize="L"],
  &[size="L"] {
    padding: 1rem 1.8rem;
    font-size: 18px;
  }
}
.lumina-button-icon {
  margin: 0 5px;
  * {
    color: inherit;
    font-size: inherit;
  }
}
