@import "../../styles/global"; // Ensure this path is correct

.lumina-button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  margin: 10px;
  font-weight: 600;
  background-color: transparent;
  transition: all 0.2s ease-in 0s;
  position: relative;
  overflow: hidden;
  background-position: center;
  background: var(--button-secondary-bg, $button-seconday)
    radial-gradient(
      circle,
      transparent 1%,
      var(--button-secondary-bg, $button-seconday) 1%
    )
    center/15000%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &[alignicon="left"] {
    flex-direction: row-reverse;
  }
  &[alignicon="right"] {
    flex-direction: row;
  }

  &:active {
    background-size: 100%;
    transition: background 0s;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: var(--button-disabled-bg, $gray-light) !important;
    background: var(--button-disabled-bg, $gray-light)
      radial-gradient(
        circle,
        transparent 1%,
        var(--button-disabled-bg, $gray-light) 1%
      )
      center/15000%;
  }

  &[curve="rounded"] {
    border-radius: 6px !important;
  }
  &[curve="curved"] {
    border-radius: 42px !important;
  }
  &[curve="flat"] {
    border-radius: 0px !important;
  }

  &[type="primary"] {
    color: var(--button-text-color, $white);
    background-color: var(--button-primary-bg, $lumina-orange);
    position: relative;
    overflow: hidden;
    background-position: center;
    transition: background 0.8s;
    background: var(--button-primary-bg, $lumina-orange)
      radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.2) 1%)
      center/15000%;

    * {
      color: var(--button-text-color, $white);
    }
    svg {
      path {
        stroke: var(--button-text-color, $white);
      }
    }

    &:active {
      background-size: 100%;
      transition: background 0s;
    }
    &:disabled {
      cursor: not-allowed;
      background: var(--button-disabled-bg, $gray-light)
        radial-gradient(
          circle,
          transparent 1%,
          var(--button-disabled-bg, $gray-light) 1%
        )
        center/15000%;
    }
  }

  &[type="secondary"] {
    color: var(--primary-color, $lumina-orange);
    background-color: var(--button-secondary-bg, $button-seconday);
    position: relative;
    overflow: hidden;
    background-position: center;
    transition: background 0.8s;
    border: 1px solid var(--primary-color, #e2e2e2);
    border-radius: 6px;
    background: var(--button-secondary-bg, $button-seconday)
      radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.2) 1%)
      center/15000%;

    &:active {
      background-size: 100%;
      transition: background 0s;
    }
    &:disabled {
      cursor: not-allowed;
      background: var(--button-disabled-bg, $gray-light)
        radial-gradient(
          circle,
          transparent 1%,
          var(--button-disabled-bg, $gray-light) 1%
        )
        center/15000%;
    }

    * {
      color: var(--primary-color, $lumina-orange);
    }
  }

  &[type="text"] {
    color: var(--primary-color, $lumina-orange);
    font-weight: 600;

    * {
      color: var(--primary-color, $lumina-orange);
    }
  }

  &[buttonSize="S"],
  &[size="S"] {
    padding: 0.3rem 1rem;
    font-size: 13px;
  }
  &[buttonSize="M"],
  &[size="M"] {
    padding: 0.7rem 1.5rem;
    font-size: 15px;
  }
  &[buttonSize="L"],
  &[size="L"] {
    padding: 1rem 1.8rem;
    font-size: 18px;
  }
}

.lumina-button-icon {
  margin: 0 5px;

  * {
    color: inherit;
    font-size: inherit;
  }
}
