@import "../../styles/global"; // Ensure this path is correct

.lumina-progress-radial {
  display: block;
  margin: 15px auto;
  position: relative;
  background-color: var(
    --background-color
  ); /* Updated to use the CSS variable */
  border-radius: 50%;
}

.circle-background,
.circle-progress,
.circle-progress-complete {
  fill: none;
}

.circle-background {
  stroke: var(--border-color); /* Updated to use the CSS variable */
}

.circle-progress {
  stroke: var(--primary-color); /* Updated to use the CSS variable */
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: all 0.8s ease-in 0s;
}

.circle-progress-complete {
  stroke: var(--focus-border-color); /* Updated to use the CSS variable */
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: all 0.8s ease-in 0s;
}

.circle-text {
  @include Montserrat;
  font-size: 12px;
  font-weight: 500;
  fill: var(--primary-color); /* Updated to use the CSS variable */
}

.circle-text-complete {
  @include Montserrat;
  font-size: 12px;
  font-weight: 500;
  fill: var(--focus-border-color); /* Updated to use the CSS variable */
}

.lumina-progress-linear {
  background-color: var(--border-color); /* Updated to use the CSS variable */
  padding: 3px;
  position: relative;
  margin-top: 80px;
  border-radius: 22px;
}

.lumina-prgs-lnr-label {
  color: var(--border-color); /* Updated to use the CSS variable */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  top: -20px;
  left: 0;
}

.lumina-prgs-lnr-value {
  color: var(--border-color); /* Updated to use the CSS variable */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  top: -20px;
  right: 0;
}

.lumina-prgs-lnr-fill {
  border-radius: 22px;
  background-color: var(--primary-color); /* Updated to use the CSS variable */
  transition: width 0.8s ease-in 0s;
}

.lumina-prgs-lnr-fill-complete {
  background-color: var(
    --focus-border-color
  ); /* Updated to use the CSS variable */
}

.lumina-progress-status {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  @include vertical-center;
}

.lumina-progress-status-red {
  i {
    color: var(--primary-color); /* Updated to use the CSS variable */
    font-size: 20px;
  }
  svg {
    path {
      stroke: var(--primary-color); /* Updated to use the CSS variable */
    }
  }
}

.lumina-progress-status-green {
  i {
    color: var(--focus-border-color); /* Updated to use the CSS variable */
    font-size: 20px;
  }
  svg {
    path {
      stroke: var(--focus-border-color); /* Updated to use the CSS variable */
    }
  }
}
