@import "../../styles/global"; // Ensure this path is correct

.lumina-toggle-input {
  --inactive-bg: var(
    --border-color
  ); // Use theme border color for inactive background
  --active-bg: var(
    --primary-color
  ); // Use theme primary color for active background
  --size: 1.5rem;
  appearance: none;
  width: calc(var(--size) * 2.2);
  height: calc(var(--size));
  display: inline-block;
  border-radius: 30px;
  cursor: pointer;
  background-color: var(--border-color); // Use theme border color
  background-image: radial-gradient(
      circle calc(var(--size) / 3),
      var(--background-color) 100%,
      // Use theme background color
      #0000 0
    ),
    radial-gradient(circle calc(var(--size) / 2), #0003 0%, #0000 100%);
  background-repeat: no-repeat;
  background-position: calc(var(--size) / -1.75) 0;
  transition: background 0.2s ease-out;

  &:checked {
    background-color: var(--primary-color); // Use theme primary color
    background-position: calc(var(--size) / 1.75) 0;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(
      --button-disabled-bg
    ); // Use theme button disabled background color
  }
}
