@import "../../styles/global"; // Ensure this path is correct

.lumina-toggle-nav {
  position: fixed;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.2s ease;

  button {
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
    padding: 0px;
    position: absolute;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
      path {
        stroke: var(
          --button-text-color,
          $white
        ); // Use theme variable for SVG stroke color
      }
    }

    &.main-button {
      z-index: 20;
      background-color: var(
        --button-primary-bg,
        $lumina-orange
      ); // Use theme variable for background color
      color: var(
        --button-text-color,
        $white
      ); // Use theme variable for text color
    }

    &.sub-button {
      opacity: 0;
      background-color: var(
        --primary-color,
        $blue-persian
      ); // Use theme variable for background color
      color: var(
        --button-text-color,
        $white
      ); // Use theme variable for text color
      border: 2px solid var(--button-text-color, $white); // Use theme variable for border color
    }
  }
}

.lumina-menu-identifier {
  position: fixed;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  color: var(--text-color, $black-raisin); // Use theme variable for text color
}
