@import "../../styles/global"; // Ensure this path is correct

.lumina-checkbox {
  // margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 14px;
  max-height: 26px;
}
.lumina-checkbox-disabled {
  cursor: not-allowed;
  .lumina-checkbox-label {
    color: $gray-light;
  }
}

.checkbox-round {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 20px;
  height: 20px;
  label {
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    width: 20px; /* Width */
    height: 100%; /* Height */
    position: absolute;
    left: 0;
    top: 0;
    aspect-ratio: 1 / 1;

    &:after {
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      content: "";
      top: 20%; /* Adjust position */
      left: 20%; /* Adjust position */
      opacity: 0;
      position: absolute;
      transform: rotate(-45deg);
      width: 60%; /* Adjust size */
      height: 35%; /* Adjust size */
    }
  }

  input[type="checkbox"] {
    visibility: hidden;
  }

  input[type="checkbox"]:checked + label {
    background-color: $lumina-orange;
    border-color: $lumina-orange;
  }

  input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
}
.checkbox-round-disabled {
  label {
    border: 2px solid rgb(237, 237, 237);
    cursor: not-allowed;
    &:after {
      opacity: 0.3;
    }
  }
}
.lumina-checkbox-label {
  margin: 0 12px;
  font-weight: 400;
  font-size: 1rem;
  height: 100%;
  @include vertical-center-left;
  color: $black-raisin;
  @include Montserrat;
}
