@import "../../styles/global"; // Ensure this path is correct

.lumina-chip {
  display: inline-flex;
  border: 1px solid var(--secondary-color, $gray-isabelline);
  border-radius: 22px;
  padding: 2px 10px;
  justify-content: space-between;
  align-items: center;
  max-width: fit-content;
  margin: 5px;
}

.lumina-chip-icon {
  margin: 0 2px;
  font-size: 12px;
}

.lumina-chip-label {
  margin: 0 5px;
  color: var(--text-color, $gray-davy);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.26px;
}

.lumina-chip-close-btn {
  margin: 0 0 0 5px;
  cursor: pointer;
  color: var(--text-color, $gray-davy);
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.lumina-chip-white {
  background-color: var(--background-color, $white);
}

.lumina-chip-orange {
  background-color: var(--button-primary-bg, $lumina-orange);
  * {
    color: var(--button-text-color, $white);
  }
}
